{% extends "_base.html" %}
{% block title %}Keanggotaan{% endblock %}

{% block content %}
<!-- Page Heading -->
<h1 class="text-2xl font-semibold">Keanggotaan</h1>


<div class="relative overflow-x-auto mt-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-blue-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nama
                </th>
                <th scope="col" class="px-6 py-3">
                    Cabang Latihan
                </th>
                <th scope="col" class="px-6 py-3">
                    Tingkatan Sabuk
                </th>
                <th scope="col" class="px-6 py-3">
                    Tahun Bergabung
                </th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr class="bg-white border-b border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ member.name }}
                </th>
                <td class="px-6 py-4">
                    {{ member.branch }}
                </td>
                <td class="px-6 py-4">
                    {{ member.get_tier_display }}
                </td>
                <td class="px-6 py-4">
                    {{ member.years_of_joining }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}