{% extends "guest/_base.html" %}
{% load static %}
{% block title %}Tapak Suci Balikpapan{% endblock %}


{% block content %}
<nav class="bg-red-700 fixed w-full z-20 top-0 start-0 border-white shadow-lg">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://2.bp.blogspot.com/-ociusXJxs6s/Wg0i1c75RVI/AAAAAAAAE_Q/qjLtSi8GEy02XVPrC-__-dSK1YEqT7aPQCLcBGAs/s1600/Tapak%2BSUci.png" class="h-14" alt="Flowbite Logo" />
            <span class="self-center text-yellow-300 hidden md:block text-xl font-bold">TAPAK SUCI BALIKPAPAN</span>
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a href="{% url 'dashboard:login' %}">
                <button type="button" class="text-red-600 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-bold rounded-lg text-sm px-4 py-2 text-center">Login</button>
            </a>
            <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden focus:outline-none focus:ring-2" aria-controls="navbar-cta" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-white rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
                <li>
                    <a href="#" class="block py-2 px-3 md:p-0 text-white bg-yellow-500 rounded-sm md:bg-transparent md:text-yellow-400" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 md:p-0 text-white rounded-sm md:hover:bg-transparent md:hover:text-yellow-400">About</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 md:p-0 text-white rounded-sm md:hover:bg-transparent md:hover:text-yellow-400">Services</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 md:p-0 text-white rounded-sm md:hover:bg-transparent md:hover:text-yellow-400">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mt-22 bg-yellow-400">
    <img class="h-auto max-w-full" src="{% static 'img/background.jpg' %}" alt="Jumbotron"/>
</div>


{% endblock %}
